@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    direction: rtl;
    font-family: "Cairo", sans-serif;
}

.mt-100px {
    margin-top: 100px;
}

.mb-100px {
    margin-bottom: 100px;
}

.banner .navbar {
    margin-top: 20px;
    margin-bottom: 120px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    padding: 24px;
}

.navbar-light .navbar-nav .active {
    font-size: 20px;
    font-weight: 700;
    color: rgba(76, 71, 99, 1);
}

.add-btn {
    background-color: rgba(76, 71, 99, 1);
    padding: 12px 24px 12px 24px;
    color: #fff;
    border-radius: 8px;
}

/*end Navbar*/
.banner .headline {
    font-size: 64px;
    font-weight: 600;
    color: rgba(76, 71, 99, 1);
    line-height: 100px;
}

.banner .desc {
    color: rgba(76, 71, 99, 1);
    font-size: 20px;
    line-height: 37px;
    font-weight: bold;
}

.banner .info-card .content {
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
    color: rgba(76, 71, 99, 1);
}

.banner .info-card {
    background-color: rgba(242, 240, 251, 1);
    padding: 50px 48px 50px 48px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
}

.banner .info-card .search-for-qus {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin-top: 40px;
}

.banner .info-card .search-checkbox label {
    font-size: 16px;
    font-weight: 400;
    color: rgba(58, 49, 51, 1);
}

input[type="radio"] {
    width: 16px;
    height: 16px;
}

.banner .info-card form {
    margin-top: 16px;
}

.home-form-section {
    margin-top: 120px;
}

.home-form-section .headline-form-content a {
    padding: 12px 24px 12px 24px;
    background-color: rgba(76, 71, 99, 1);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.home-form-section .headline {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
}

.home-form-section .headline-form-content .count {
    font-size: 20px;
    font-weight: 700;
}

.home-form-section .headline-form-content .number {
    font-size: 18px;
    font-weight: 400;
    line-height: 33.73px;
}

.home-form-section .item-card {
    border: 0.4px solid rgba(76, 71, 99, 1);
    padding: 24px 12px 24px 12px;
    border-radius: 8px;
}

.home-form-section .item-card .header-image {
    display: flex;
    justify-content: center;
    margin-top: 29px;
}

.home-form-section .item-card .header-image .overlay:after {
    content: '';
    width: 225px;
    height: 225px;
    background-color: rgba(76, 71, 99, 1);
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    right: 15px;
    top: -12px;
}

.home-form-section .item-card .header-image img {
    background-color: rgba(178, 151, 160, 1);
    border-radius: 50%;
    padding: 5px;
    height: 225px;
    width: 225px;
}

.home-form-section .item-card .statics {
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 10px;
}

.home-form-section .item-card .statics .statics-content {
    background-color: rgba(242, 240, 251, 1);
    border-radius: 32px;
    padding: 5px 10px;
}

.home-form-section .item-card .card-headline {
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 30px;
}

.home-form-section .item-card .card-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 30px;
    text-decoration: none;
    color: rgba(58, 49, 51, 1);
}

.home-form-section .cards-section {
    margin-top: 24px;
}

.read-more {
    color: rgba(64, 118, 213, 1);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.row-gap-24 {
    row-gap: 24px;
}

.filter-row .search-btn {
    padding: 12px 24px 12px 24px;
    background-color: rgba(76, 71, 99, 1);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.select2-container--default .select2-selection--single {
    height: 56px;
    background-color: rgba(242, 240, 251, 1);
    border: none;
    border-radius: 8px;
    color: rgba(105, 105, 105, 1);
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
    border-width: 8px 6px 0 6px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 49px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.select2-selection {
    overflow: hidden;
}

.select2-selection__rendered {
    white-space: normal;
    word-break: break-all;
}

.form-control .select2-container {
    width: 100%;
}

.filter-icon {
    margin-inline-end: 28px;
}

.filter-row label {
    margin-bottom: 10px;
}

/* adding form intro  */
.adding-form {
    margin-bottom: 120px;
}

.adding-form h1 {
    color: #4C4763;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.adding-form-instructions {
    background-color: #F2F0FB;
    padding: 48px 32px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.adding-form-instructions h2 {
    font-size: 20px;
    font-weight: 700;
    color: #4C4763;
    margin-bottom: 40px;
    position: relative;
    line-height: 38px;
}

.adding-form-instructions h2::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    right: -20px;
    top: 14px;
    position: absolute;
}

.adding-form-instructions p {
    font-weight: 500;
    font-size: 16px;
    color: #4C4763;
    margin: 0px;
    line-height: 30px;

}

.adding-form-instructions ul {
    list-style-type: square;
    color: #4C4763;
    margin-bottom: 30px;
}

.adding-form-instructions ul li span {
    font-weight: 500;
    font-size: 16px;
    color: #4C4763;
}

.adding-form-instructions h3 {
    font-size: 20px;
    font-weight: 700;
    color: #4C4763;
    margin-bottom: 30px;
    position: relative;
}

.adding-form-instructions h3::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    right: -20px;
    top: 6px;
    position: absolute;
}

.adding-form-confirm {
    display: flex;
    align-items: center;
    border: 0.4px solid #4C4763;
    border-radius: 8px;
    padding: 24px 16px;
    margin-bottom: 48px;
}

/*tabs*/
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    margin-top: 12px;
    margin-bottom: 50px;
}

.tab-buttons button {
    margin-right: 5px;
}

.active-tab {
    background-color: rgba(242, 240, 251, 1);
    border-radius: 32px;
}

/* form-progress-bar section*/

.progress.active {
    background-color: #4C4763ed;
}

.progress-title {
    display: flex;
    align-items: center;
    margin: 12px 0px;
}

.progress-title img {
    width: 20px;
    height: 20px;
}

.progress-title p {
    font-weight: 500;
    font-size: 16px;
    color: #4C4763;
    margin: 0px 7px;
}

/* basic-man-information-section */
.required {
    color: red;
}

.information-heading {
    text-align: center;
    margin: 40px 0px;
}

.information-heading h1 {
    color: #4C4763;
    font-size: 32px;
    font-weight: 700;

}

.information-heading h1 span {
    font-size: 16px;
    font-weight: 500;
    padding: 0px 7px;
    border-radius: 50%;
    background-color: #4C4763;
    color: white;
}

.information-heading span {
    font-size: 14px;
    font-weight: 400;
    color: #E33E55;
}

.inputs-information .inputs-style {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.inputs-information label {
    margin: 10px 0;
    font-weight: 600;
    font-size: 18px;
    color: #3A3133;
}

.inputs-information select,
textarea,
input {
    background-color: #F2F0FB;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.inputs-information select,
input {
    height: 49px;
}

.inputs-information textarea {
    height: 180px;
}

.buttons {
    display: flex;
    margin: 15px 0;
}

.buttons .previous {
    margin: 0px 15px;
    background-color: white;
    color: #4C4763;
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid #4C4763;
    text-decoration: none;
}

.buttons .next {
    background-color: rgba(76, 71, 99, 1);
    padding: 12px 24px;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
}

.info {
    /*display: none;*/
}

/* man form */
.sidebar {
    display: flex;
    align-items: center;
    margin: 12px 0px;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
}

.sidebar p {
    font-weight: 700;
    font-size: 20px;
    color: #4C4763;
    margin: 10px 0px;
    margin-inline-start: 10px;
}

.sidebar.active {
    background-color: #F2F0FB;
}

.sidebar img {
    width: 20px;
    height: 20px;
}

.man-form-section,
.wife-form-section {
    background-color: #F2F0FB;
    border-radius: 35px;
    padding-bottom: 20px;
}

.man-form-section .header-image {
    display: flex;
    justify-content: center;
    margin-top: 29px;
}

.man-form-section .item-card .header-image img {
    background-color: rgba(178, 151, 160, 1);
    border-radius: 50%;
    padding: 5px;
    height: 200px;
    width: 200px;
}

.card-man-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    margin-top: 30px;
    color: #3A3133;
}

.man-form-section.item-card .header-image .overlay:after {
    content: '';
    width: 225px;
    height: 225px;
    background-color: rgba(76, 71, 99, 1);
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    right: 15px;
    top: -12px;
}

.man-form-section .item-card .statics .statics-content {
    border-radius: 32px;
    padding: 4px 9px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card {
    background-color: #FBFBFD;
    border-radius: 30px;
    padding: 20px 10px;
    margin: 20px 15px;
}

.card-details {
    border: 0.4px solid #4C4763;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
}

.card-details h1 {
    font-size: 24px;
    color: #4C4763;
    font-weight: 700;
}

.card-details p {
    font-size: 14px;
    font-weight: 400;
    color: #636464;
    margin-bottom: 20px;
    /* text-wrap: nowrap; */
}

.card-details span {
    font-size: 18px;
    font-weight: 500;
    color: #3A3133;
}

.card-details ul {
    list-style-type: square;
    text-wrap: nowrap;
}

.card-details ul li {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
    color: #3A3133;
}

.card-details .text {
    font-size: 16px;
    font-weight: 400;
    color: #3A3133;
}

/* condition and terms */
.condition .card-content h1 {
    font-size: 32px;
    color: #4C4763;
    text-align: center;
    font-weight: 700;

}

.condition .card-content p {
    font-size: 18px;
    color: #696969;
    font-weight: 400;
    text-align: center;
}

.condition .card {
    background-color: #F2F0FB;
    padding: 30px 20px;
    border-radius: 32px;
}

.condition .card-text h1 {
    font-size: 32px;
    color: #4C4763;
    font-weight: 700;
}

.condition .card-text p {
    font-size: 16px;
    color: #3A3133;
    font-weight: 500;
    line-height: 35px;
}

/* contact us */
.contact-us .card-content h1 {
    font-size: 32px;
    color: #4C4763;
    text-align: center;
    font-weight: 700;
    margin-bottom: 8px !important;
    line-height: 60px !important;
}

.contact-us .card-content p {
    font-size: 18px;
    color: #696969;
    font-weight: 400;
    text-align: center;
    line-height: 34px !important;
    margin-bottom: 58px;
}

.contact-us .card {
    background-color: #F2F0FB;
    padding-top: 54px;
    padding-bottom: 90px;
    border-radius: 32px;
}

/* .contact-us .card .contact-info{
    margin-inline-start: 105px;
} */
.contact-us .information-card {
    background-color: #4C4763;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 545px;

}

.contact-us .information-card .info-heading h1 {
    font-size: 24px;
    font-weight: 700;
    color: #FBFBFD;
    padding-top: 40px;
    padding-inline-start: 29px;
    line-height: 45px;
}

.contact-us .information-card .info-heading span {
    font-size: 16px;
    font-weight: 400;
    color: #FBFBFD;
    padding-top: 6px;
    padding-inline-start: 29px;
    line-height: 30px;
    margin-bottom: 90px;
}

.contact-us .information-card .contact-data div {
    padding-inline-start: 29px;
    margin-bottom: 20px;

}

.contact-us .information-card .contact-data span {
    font-size: 16px;
    font-weight: 400;
    color: #FBFBFD;
    margin-inline-start: 18px;
}

.contact-us .information-card .contact-icon {
    text-align: end;
    margin-bottom: 40px;
    margin-inline-end: 40px;
    margin-inline-start: 40px;
}

.contact-us .information-card .contact-icon img {
    margin-inline-end: 20px;
}

.input-info label {
    font-weight: 500;
    font-size: 16px;
    color: #3A3133;
    margin-bottom: 12px;
}

.input-info input {
    border-radius: 8px !important;
}

.input-info textarea {
    height: 119px;
    border-radius: 8px !important;
}

.input-info div {
    margin-bottom: 24px;
}

/* registration  */

.registration {
    margin-bottom: 120px;
}

.registration h1,
.support h1 {
    font-size: 32px;
    font-weight: 700;
    color: #4C4763;
    margin-bottom: 48px;
    line-height: 60px;
}

.gender {
    margin-bottom: 24px;
}

.gender label {
    font-weight: 500;
    font-size: 16px;
    color: #3A3133;
    line-height: 30px;
}

.registra-btn {
    margin-top: 48px !important;
}

.input-group .password-toggle {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    /* Adjust size as needed */
    height: 24px;
    /* Adjust size as needed */
}

.registration .image,
.support .image {
    padding: 120px;
}

.support {
    margin-bottom: 120px;
}

/* editing-form */
.editing-form {
    margin-bottom: 120px;
}

.editing-form h1 {
    font-size: 32px;
    font-weight: 700;
    color: #4C4763;
    margin-bottom: 48px;
    line-height: 60px;
}

.editing-form .edit-message textarea {
    border: 0.4px solid #4C4763;
    height: 300px;
    width: 90%;
    border-radius: 8px;
    background-color: white !important;
    margin-bottom: 48px;
}

/* login-form */
.login-item {
    border: none !important;
    display: flex;
}

.login-item p {
    font-size: 16px;
    font-weight: 400;
    color: #3A3133;
}

.login-item span {
    font-size: 16px;
    font-weight: 400;
    color: #696969;
}

.login-form {
    margin-bottom: 90px;
}

.login-form label {
    margin-bottom: 12px;
    color: #3A3133;
    font-size: 16px;
    font-weight: 500;
}

.change-password a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #4076D5;
}

/* about-us */
.about-us {
    margin-bottom: 100px;
}

.about-us .head {
    margin-bottom: 100px;
}

.about-us h1 {
    font-size: 32px;
    font-weight: 700;
    color: #4C4763;
    margin-bottom: 16px;
    line-height: 60px;
}

.about-us p {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    color: #3A3133;
}

.about-us .images {
    text-align: end;
}

.about-us .cards {
    margin-bottom: 100px;
}

.about-us .card {
    background-color: #F2F0FB;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us .card img {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 20px;
}

.about-us .card-person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F0FB;
    padding: 48px 24px;
    border-radius: 8px;
}

.about-us .card-person h3 {
    font-weight: 700;
    font-size: 20px;
    color: #3A3133;
    line-height: 38px;
}

.about-us .card-person span {
    font-size: 14px;
    color: #696969;
    line-height: 26px;
}


/* footer */
footer {
    background-color: rgba(76, 71, 99, 1);
    padding: 50px 20px;
}

footer .footer-link {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
}

footer .footer-line {
    border: 1px solid rgba(255, 255, 255, 0.16);
    background-color: rgba(255, 255, 255, 0.16);
    margin-top: 40px;
}

footer .social-icons {
    display: flex;
    justify-content: space-around;
}

footer .social-icons i {
    font-size: 30px;
    color: #ffffff;
}

footer .bottom-menu {
    margin-top: 34px;
}

footer .bottom-menu span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

footer .bottom-menu a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration-color: #ffffff;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .banner .navbar {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .banner .headline {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
    }

    .banner .desc {
        font-size: 14px;
    }

    .banner .info-card {
        width: 100%;
        padding: 18px;
        text-align: center;
    }

    .banner .info-card .content {
        font-size: 18px;
    }

    .banner .info-card h4 {
        justify-content: center !important;
    }

    .banner .info-card h4 img {
        width: 20px;
        height: 20px;
    }

    .banner .info-card .search-for-qus {
        margin-top: 0px;
    }

    .banner .info-card form {
        width: 80%;
        margin: 10px auto auto;
    }

    .home-form-section .headline-form-content .count {
        color: rgba(105, 105, 105, 1);
        font-size: 18px;
        font-weight: 500;
    }

    .home-form-section .headline-form-content .number {
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        height: 24px;
        margin-inline-start: 6px;
    }

    .home-form-section {
        margin-top: 20px;
    }

    .home-form-section .headline-form-content a {
        font-size: 14px;
        font-weight: 400;
    }

    .home-form-section .headline-form-content {
        flex-wrap: wrap;
    }

    .container-lg {
        padding: 16px;
    }

    .mt-20px {
        margin-top: 20px;
    }

    .home-form-section .item-card .header-image img {
        width: 78px;
        height: 78px;
    }

    .home-form-section .item-card .header-image .overlay:after {
        width: 78px;
        height: 78px;
        right: 7px;
        top: -6px;
    }

    .home-form-section .item-card .statics .statics-content {
        border-radius: 32px;
        padding: 4px 1px;
        width: 48px;
        text-align: center;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-form-section .item-card .statics .statics-content span {
        font-size: 8px;
    }

    .home-form-section .item-card .statics .statics-content img {
        width: 9px;
        height: 9px;
        margin-left: 2px;
    }

    .home-form-section .item-card .statics {
        flex-wrap: wrap;
        gap: 6px;
    }

    .social-section {
        order: -1;
    }

    .logo-section {
        order: -2;
    }

    footer .footer-link {
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    footer .social-icons i {
        font-size: 24px;
    }

    .bottom-menu {
        line-height: 2em;
    }

    .bottom-menu span {
        display: block;
        text-align: center;
    }

    footer .line {
        display: none;
    }

    footer .bottom-menu a {
        font-size: 14px;
    }

    .row {
        --bs-gutter-x: 1rem
    }

}

@media only screen and (max-width: 390px) {
    .row.cards-section .col-6 {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

    .registration .image,
    .support .image {
        padding: 60px;
    }
}

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {}*/